# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Build output
dist/
build/

# Environment
.env
.env.local

# test files
test.*
*.log
*.zip
*.fdb_latexmk
*.fls
*.aux
*.out
*.toc
*.lof
*.lot

# Logs
npm-debug.log*
yarn-debug.log*
*.log

# Project specific
backend/test-output/
frontend-report.md
compile.log

# resumeme
resume.tex
resume.pdf